@import url("https://fonts.googleapis.com/css?family=Poppins");

html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

section {
    min-height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px 0;
    position: relative;
}

section .github-badge {
    position: absolute;
    top: 0;
    left: 0;
}

section h1 {
    text-align: center;
    margin-bottom: 70px;
}

section .hv-container {
    flex-grow: 1;
    overflow: auto;
    justify-content: center;
}

.basic-style {
    background-color: #efe6e2;
}

.basic-style > h1 {
    color: #ac2222;
}

.header-emerald {
    background-color: #FFC0CB !important;
    color: #000000 !important;
}

.header-platinum {
    background-color: #8e8e8e !important;
    color: #000000 !important;
}

.header-gold {
    background-color: #FFD700 !important;
    color: #000000 !important;
}

.header-silver {
    background-color: #C0C0C0 !important;
    color: #000000 !important;
}

.header-emerald button {
    color: #000000 !important;
}

.header-platinum button {
    color: #000000 !important;
}

.header-gold button {
    color: #000000 !important;
}

.header-silver button {
    color: #000000 !important;
}

div.simple-card {
    margin: 0;
    background-color: #fff;
    color: #de5454;
    padding: 10px;
    border-radius: 7px;
    min-width: 100px;
    text-align: center;
    border: 1px solid #f3c6c6;
}

.hv-item-parent div {
    font-weight: bold;
    /* color: #de5454; */
}

.management-hierarchy {
    background-color: #303840;
}

.management-hierarchy > h1 {
    color: #fff;
}

.management-hierarchy .person {
    text-align: center;
}

.management-hierarchy .person > img {
    height: 110px;
    border: 5px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    background-color: #fff;
}

.management-hierarchy .person > p.name {
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    color: #3baa9d;
    margin: 0;
    position: relative;
}

.management-hierarchy .person > p.name b {
    color: rgba(59, 170, 157, 0.5);
}

.management-hierarchy .person > p.name:before {
    content: "";
    position: absolute;
    width: 2px;
    height: 8px;
    background-color: #fff;
    left: 50%;
    top: 0;
    transform: translateY(-100%);
}
